

<!DOCTYPE html>


<html>

<head>
    <title>Create Room</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
    <div class="row" id="pwd-container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <section class="login-form">
            <form id = "room-form" method="get" action="/chat">
            <h2 align="center">Enter Room Name</h2>
            <div class="form-group">
                <label for="username">name</label>
                <input type="text" class="form-control input-lg" id="room-name" placeholder="Roomname">
            </div>
            <button type="submit" name="sign in" class="btn btn-lg btn-primary btn-block">Create</button>
            </form>
        </section>
        </div>
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8080');
  $('#room-form').submit(function (e) {
    var roomname = $('#room-name').val();

    socket.emit('createGroup', roomname);
});

</script>

</body>
</html>